<a href="https://colab.research.google.com/github/devin3706/Car-Rental-System/blob/main/stockPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [1]:
print(8080)

8080

In [ ]:
stock_data=pd.read_csv("https://raw.githubusercontent.com/Niwanka/stockPrediction/main/stock_data.csv")

In [ ]:

stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,RSI,EMA_9,...,MACD,BB_Lower,BB_Middle,BB_Upper,Inflation Rate (%),Unemployment Rate (%),Interest Rate (%),Next_Day_Close,Target,2%Target
0,2000-01-03,4.075000,4.478125,3.952344,4.468750,4.468750,322352000,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.096875,0,negative
1,2000-01-04,4.268750,4.575000,4.087500,4.096875,4.096875,349748000,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.487500,0,negative
2,2000-01-05,3.525000,3.756250,3.400000,3.487500,3.487500,769148000,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.278125,0,negative
3,2000-01-06,3.565625,3.634375,3.200000,3.278125,3.278125,375040000,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.478125,1,positive
4,2000-01-07,3.350000,3.525000,3.309375,3.478125,3.478125,210108000,AMZN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.459375,0,neutral

In [ ]:
report_data=pd.read_csv("https://raw.githubusercontent.com/Niwanka/stockPrediction/main/report_data.csv")

In [ ]:
report_data.head()

   Unnamed: 0        Date  Inflation  Unemployment Rate (%)  Interest Rate (%)
0           0  2000-01-01   0.296209                    4.0               5.45
1           1  2000-01-02   0.296209                    4.0               5.45
2           2  2000-01-03   0.296209                    4.0               5.45
3           3  2000-01-04   0.296209                    4.0               5.45
4           4  2000-01-05   0.296209                    4.0               5.45

In [ ]:
report_data.columns

Index(['Unnamed: 0', 'Date', 'Inflation', 'Unemployment Rate (%)',
       'Interest Rate (%)'],
      dtype='object')

In [ ]:
report_data.drop(columns="Unnamed: 0")

            Date  Inflation  Unemployment Rate (%)  Interest Rate (%)
0     2000-01-01   0.296209                    4.0               5.45
1     2000-01-02   0.296209                    4.0               5.45
2     2000-01-03   0.296209                    4.0               5.45
3     2000-01-04   0.296209                    4.0               5.45
4     2000-01-05   0.296209                    4.0               5.45
...          ...        ...                    ...                ...
8517  2023-04-27   0.426852                    3.4               4.83
8518  2023-04-28   0.426852                    3.4               4.83
8519  2023-04-29   0.426852                    3.4               4.83
8520  2023-04-30   0.426852                    3.4               4.83
8521  2023-05-01   0.109889                    3.7               5.06

[8522 rows x 4 columns]

In [ ]:
merged_data= pd.merge(stock_data, report_data, on='Date', how='left')

In [ ]:
merged_data.head(60)

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,RSI,EMA_9,...,Inflation Rate (%),Unemployment Rate (%)_x,Interest Rate (%)_x,Next_Day_Close,Target,2%Target,Unnamed: 0,Inflation,Unemployment Rate (%)_y,Interest Rate (%)_y
0,2000-01-03,4.075000,4.478125,3.952344,4.468750,4.468750,322352000,AMZN,NaN,NaN,...,NaN,NaN,NaN,4.096875,0,negative,2,0.296209,4.0,5.45
1,2000-01-04,4.268750,4.575000,4.087500,4.096875,4.096875,349748000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.487500,0,negative,3,0.296209,4.0,5.45
2,2000-01-05,3.525000,3.756250,3.400000,3.487500,3.487500,769148000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.278125,0,negative,4,0.296209,4.0,5.45
3,2000-01-06,3.565625,3.634375,3.200000,3.278125,3.278125,375040000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.478125,1,positive,5,0.296209,4.0,5.45
4,2000-01-07,3.350000,3.525000,3.309375,3.478125,3.478125,210108000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.459375,0,neutral,6,0.296209,4.0,5.45
5,2000-01-10,3.628125,3.631250,3.278125,3.459375,3.459375,295158000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.337500,0,negative,9,0.296209,4.0,5.45
6,2000-01-11,3.343750,3.500000,3.250000,3.337500,3.337500,210654000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.178125,0,negative,10,0.296209,4.0,5.45
7,2000-01-12,3.393750,3.400000,3.150000,3.178125,3.178125,216090000,AMZN,NaN,NaN,...,NaN,NaN,NaN,3.296875,1,positive,11,0.296209,4.0,5.45
8,2000-01-13,3.246875,3.359375,3.156250,3.296875,3.296875,208962000,AMZN,NaN,3.564583,...,NaN,NaN,NaN,3.212500,0,negative,12,0.296209,4.0,5.45
9,2000-01-14,3.337500,3.431250,3.200000,3.212500,3.212500,137072000,AMZN,NaN,3.494167,...,NaN,NaN,NaN,3.206250,0,neutral,13,0.296209,4.0,5.45
10,2000-01-18,3.171875,3.259375,3.150000,3.206250,3.206250,107698000,AMZN,NaN,3.436583,...,NaN,NaN,NaN,3.340625,1,positive,17,0.296209,4.0,5.45
11,2000-01-19,3.206250,3.375000,3.150000,3.340625,3.340625,164910000,AMZN,NaN,3.417392,...,NaN,NaN,NaN,3.237500,0,negative,18,0.296209,4.0,5.45
12,2000-01-20,3.346875,3.350000,3.196875,3.237500,3.237500,119560000,AMZN,NaN,3.381413,...,NaN,NaN,NaN,3.103125,0,negative,19,0.296209,4.0,5.45
13,2000-01-21,3.231250,3.231250,3.000000,3.103125,3.103125,229238000,AMZN,NaN,3.325756,...,NaN,NaN,NaN,3.506250,1,positive,20,0.296209,4.0,5.45
14,2000-01-24,3.378125,3.668750,3.375000,3.506250,3.506250,583404000,AMZN,42.223370,3.361855,...,NaN,NaN,NaN,3.462500,0,neutral,23,0.296209,4.0,5.45
15,2000-01-25,3.500000,3.562500,3.300000,3.462500,3.462500,188682000,AMZN,41.026911,3.381984,...,NaN,NaN,NaN,3.240625,0,negative,24,0.296209,4.0,5.45
16,2000-01-26,3.431250,3.500000,3.237500,3.240625,3.240625,131160000,AMZN,35.528480,3.353712,...,NaN,NaN,NaN,3.346875,1,positive,25,0.296209,4.0,5.45
17,2000-01-27,3.259375,3.387500,3.231250,3.346875,3.346875,135680000,AMZN,39.696390,3.352345,...,NaN,NaN,NaN,3.084375,0,negative,26,0.296209,4.0,5.45
18,2000-01-28,3.250000,3.321875,3.000000,3.084375,3.084375,275558000,AMZN,33.870560,3.298751,...,NaN,NaN,NaN,3.228125,1,positive,27,0.296209,4.0,5.45
19,2000-01-31,3.018750,3.237500,2.921875,3.228125,3.228125,213958000,AMZN,39.138192,3.284625,...,NaN,NaN,NaN,3.371875,1,positive,30,0.296209,4.0,5.45
20,2000-02-01,3.375000,3.531250,3.218750,3.371875,3.371875,268092000,AMZN,43.946652,3.302075,...,0.413467,4.1,5.73,3.471875,1,positive,31,0.413467,4.1,5.73
21,2000-02-02,3.396875,3.612500,3.387500,3.471875,3.471875,280518000,AMZN,47.078971,3.336035,...,NaN,NaN,NaN,4.209375,1,positive,32,0.413467,4.1,5.73
22,2000-02-03,4.056250,4.296875,3.868750,4.209375,4.209375,875000000,AMZN,63.346641,3.510703,...,NaN,NaN,NaN,3.928125,0,negative,33,0.413467,4.1,5.73
23,2000-02-04,4.137500,4.137500,3.893750,3.928125,3.928125,220460000,AMZN,56.245907,3.594188,...,NaN,NaN,NaN,3.750000,0,negative,34,0.413467,4.1,5.73
24,2000-02-07,3.809375,3.843750,3.656250,3.750000,3.750000,202580000,AMZN,52.251134,3.625350,...,NaN,NaN,NaN,4.156250,1,positive,37,0.413467,4.1,5.73
25,2000-02-08,3.700000,4.200000,3.671875,4.156250,4.156250,389456000,AMZN,59.343409,3.731530,...,NaN,NaN,NaN,4.012500,0,negative,38,0.413467,4.1,5.73
26,2000-02-09,4.027344,4.186719,4.000781,4.012500,4.012500,191608000,AMZN,56.164458,3.787724,...,NaN,NaN,NaN,3.809375,0,negative,39,0.413467,4.1,5.73
27,2000-02-10,3.925000,3.993750,3.775000,3.809375,3.809375,199592000,AMZN,51.931163,3.792054,...,NaN,NaN,NaN,3.809375,0,neutral,40,0.413467,4.1,5.73
28,2000-02-11,3.856250,3.956250,3.775000,3.809375,3.809375,166180000,AMZN,51.931163,3.795518,...,NaN,NaN,NaN,3.721875,0,negative,41,0.413467,4.1,5.73
29,2000-02-14,3.784375,3.787500,3.678125,3.721875,3.721875,103394000,AMZN,50.046618,3.780790,...,NaN,NaN,NaN,3.690625,0,neutral,44,0.413467,4.1,5.73
30,2000-02-15,3.671875,3.809375,3.531250,3.690625,3.690625,128490000,AMZN,49.357712,3.762757,...,NaN,NaN,NaN,3.534375,0,negative,45,0.413467,4.1,5.73
31,2000-02-16,3.637500,3.671875,3.531250,3.534375,3.534375,85204000,AMZN,45.951735,3.717080,...,NaN,NaN,NaN,3.450000,0,negative,46,0.413467,4.1,5.73
32,2000-02-17,3.562500,3.565625,3.400000,3.450000,3.450000,122592000,AMZN,44.178856,3.663664,...,NaN,NaN,NaN,3.237500,0,negative,47,0.413467,4.1,5.73
33,2000-02-18,3.421875,3.450000,3.193750,3.237500,3.237500,174528000,AMZN,39.993808,3.578431,...,NaN,NaN,NaN,3.178125,0,neutral,48,0.413467,4.1,5.73
34,2000-02-22,3.246875,3.325000,3.153125,3.178125,3.178125,113716000,AMZN,38.885394,3.498370,...,NaN,NaN,NaN,3.521875,1,positive,52,0.413467,4.1,5.73
35,2000-02-23,3.243750,3.587500,3.234375,3.521875,3.521875,168824000,AMZN,47.889806,3.503071,...,NaN,NaN,NaN,3.421875,0,negative,53,0.413467,4.1,5.73
36,2000-02-24,3.528125,3.568750,3.281250,3.421875,3.421875,117386000,AMZN,45.776816,3.486832,...,NaN,NaN,NaN,3.456250,1,neutral,54,0.413467,4.1,5.73
37,2000-02-25,3.371875,3.468750,3.259375,3.456250,3.456250,97410000,AMZN,46.648241,3.480715,...,NaN,NaN,NaN,3.287500,0,negative,55,0.413467,4.1,5.73
38,2000-02-28,3.328125,3.359375,3.206250,3.287500,3.287500,101154000,AMZN,42.995222,3.442072,...,NaN,NaN,NaN,3.443750,1,positive,58,0.413467,4.1,5.73
39,2000-02-29,3.300000,3.448438,3.293750,3.443750,3.443750,142970000,AMZN,47.124129,3.442408,...,NaN,NaN,NaN,3.293750,0,negative,59,0.413467,4.1,5.73
40,2000-03-01,3.381250,3.425000,3.250000,3.293750,3.293750,111534000,AMZN,43.841198,3.412676,...,0.588235,4.0,5.85,3.128125,0,negative,60,0.588235,4.0,5.85
41,2000-03-02,3.246875,3.250000,3.109375,3.128125,3.128125,159602000,AMZN,40.487247,3.355766,...,NaN,NaN,NaN,3.125000,0,neutral,61,0.588235,4.0,5.85
42,2000-03-03,3.162500,3.237500,3.103125,3.125000,3.125000,121190000,AMZN,40.424410,3.309613,...,NaN,NaN,NaN,3.196875,1,positive,62,0.588235,4.0,5.85
43,2000-03-06,3.143750,3.362500,3.140625,3.196875,3.196875,153316000,AMZN,42.629909,3.287065,...,NaN,NaN,NaN,3.175000,0,neutral,65,0.588235,4.0,5.85
44,2000-03-07,3.243750,3.290625,3.106250,3.175000,3.175000,83576000,AMZN,42.118848,3.264652,...,NaN,NaN,NaN,3.181250,1,neutral,66,0.588235,4.0,5.85
45,2000-03-08,3.162500,3.237500,3.028125,3.181250,3.181250,118814000,AMZN,42.331574,3.247972,...,NaN,NaN,NaN,3.440625,1,positive,67,0.588235,4.0,5.85
46,2000-03-09,3.150000,3.450000,3.109375,3.440625,3.440625,166250000,AMZN,50.467311,3.286502,...,NaN,NaN,NaN,3.343750,0,negative,68,0.588235,4.0,5.85
47,2000-03-10,3.362500,3.426563,3.250000,3.343750,3.343750,74270000,AMZN,47.757325,3.297952,...,NaN,NaN,NaN,3.265625,0,negative,69,0.588235,4.0,5.85
48,2000-03-13,3.200000,3.331250,3.150000,3.265625,3.265625,112686000,AMZN,45.629359,3.291487,...,NaN,NaN,NaN,3.281250,1,neutral,72,0.588235,4.0,5.85
49,2000-03-14,3.303125,3.346875,3.168750,3.281250,3.281250,96106000,AMZN,46.146199,3.289439,...,NaN,NaN,NaN,3.187500,0,negative,73,0.588235,4.0,5.85
50,2000-03-15,3.237500,3.256250,3.100000,3.187500,3.187500,121654000,AMZN,43.475809,3.269051,...,NaN,NaN,NaN,3.312500,1,positive,74,0.588235,4.0,5.85
51,2000-03-16,3.112500,3.318750,3.000000,3.312500,3.312500,194062000,AMZN,47.812225,3.277741,...,NaN,NaN,NaN,3.240625,0,negative,75,0.588235,4.0,5.85
52,2000-03-17,3.303125,3.318750,3.225000,3.240625,3.240625,105970000,AMZN,45.643862,3.270318,...,NaN,NaN,NaN,3.209375,0,neutral,76,0.588235,4.0,5.85
53,2000-03-20,3.175000,3.225000,3.118750,3.209375,3.209375,116270000,AMZN,44.694774,3.258129,...,NaN,NaN,NaN,3.618750,1,positive,79,0.588235,4.0,5.85
54,2000-03-21,3.256250,3.650000,3.112500,3.618750,3.618750,341658000,AMZN,57.238642,3.330253,...,NaN,NaN,NaN,3.534375,0,negative,80,0.588235,4.0,5.85
55,2000-03-22,3.543750,3.700000,3.462500,3.534375,3.534375,231328000,AMZN,54.495168,3.371078,...,NaN,NaN,NaN,3.384375,0,negative,81,0.588235,4.0,5.85
56,2000-03-23,3.475000,3.546875,3.375000,3.384375,3.384375,108842000,AMZN,49.914784,3.373737,...,NaN,NaN,NaN,3.634375,1,positive,82,0.588235,4.0,5.85
57,2000-03-24,3.731250,3.762500,3.565625,3.634375,3.634375,194920000,AMZN,56.480231,3.425865,...,NaN,NaN,NaN,3.656250,1,neutral,83,0.588235,4.0,5.85
58,2000-03-27,3.612500,3.756250,3.587500,3.656250,3.656250,94972000,AMZN,57.011238,3.471942,...,NaN,NaN,NaN,3.506250,0,negative,86,0.588235,4.0,5.85
59,2000-03-28,3.618750,3.637500,3.473438,3.506250,3.506250,103952000,AMZN,52.298899,3.478803,...,NaN,NaN,NaN,3.312500,0,negative,87,0.588235,4.0,5.85